{% extends ('app/layout.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}

    {% block content %}

        <section class="body">
            {% for message in app.session.flashBag('message') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="background-main">
                <h1>BIENVENUE</h1>
            </div>
            <div class="background-me">
                <h1>BONJOUR !</h1>
            </div>
            <div class="background-work">
                <h1>MES TRUCS ...</h1>
            </div>
            <div class="background-contact">
                <h1>ALLÔ ?</h1>
            </div>
            <div class="pageContent page-me" data-background-type="me">
                <div class="container">
                    <h2>ET BIENVENUE SUR MON SITE !</h2>
                    <div class="page-me-block">
                        <div class="page-me-block--first">
                            <p>Je me présente je m'appelle Christian et je vais vous parler un peu de moi.<br>
                                Ayant toujours eu un attrait pour le numérique j'ai commencé très tôt à m'intéresser à l'informatique en passant par les programmes d'Adobe.<br>
                                Autodidacte dans ce domaine, j'ai commencé à créer mes premiers visuels et premières maquette sur ordinateur.<br>
                                <br>
                                Bien qu'étant pâtissier de formation et aimant créer de jolies choses sucrées, je continuais de mon temps libre à explorer le monde digital.<br>
                                Me sentant à l'aise dans ce milieu, j'ai décidé de me mettre à mon compte et de créer mon tout premier site internet pour un client.<br>
                                <br>
                                À mon retour en France, je continuais d'offrir mes services d'infographiste en tant que bénévole pour une association. Me lançant aussi dans des challenges tels que les GameJams en tant qu'illustrateur pendant mon temps libre.<br>
                                Après cette expérience passionnante et moult péripéties, je fis le choix difficile de garder la pâtisserie comme passe-temps et me lançais enfin à plein temps dans ma reconversion !<br>
                                <br>
                                Ma curiosité finira par m'emmener à pousser les portes de la Wild Code School de Lyon pour découvrir le PHP, le framework Symfony et des personnes toutes aussi intéressantes que passionnées.<br>
                            </p>
                        </div>
                        <div class="page-me-block--second">
                            <ul>
                                <li><a href="https://github.com/christianJCK" target="_blank"><h3>&lt/MON_CODE&gt</h3></a></li>
                                <li><a href="https://www.linkedin.com/in/christianjecko/" target="_blank"><h3>&lt/MON_CV_EN_LIGNE&gt</h3></a></li>
                                <li><a href="{{  asset('assets/pdf/cv.pdf') }}" target="_blank"><h3>&lt/MON_CV_TOUT_COURT&gt</h3></a></li>
                                <li><a href="https://twitter.com/sushi4000" target="_blank"><h3>&lt/MES_TWEETS&gt</h3></a></li>
                                <li><a href="http://punknower.deviantart.com/" target="_blank"><h3>&lt/MES_DESSINS&gt</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pageContent page-work" data-background-type="work">
                <div class="container">
                    <h2> ... AUQUEL J'AI PARTICIPÉ.</h2>
                    <div class="page-work-projects">
                        <div class="page-work-projects--block">
                            <img src="{{ asset('assets/img/projet1.png') }}" class="img-project" alt="first project image">
                            <h3>Ratatouille</h3>
                            <p>Projet fictif effectué binôme au sein de la Wild Code School de Lyon.<br>
                                <br>
                                Pour le compte d'une franchise de restaurants, nous devions créer un site en HTML5 et CSS3 relayant les restaurants ratatouille.
                            </p>
                            <a href="https://github.com/christianJCK/WCS_Project1/tree/feature" target="_blank" class="code">code source</a>
                        </div>
                        <div class="page-work-projects--block">
                            <img src="{{ asset('assets/img/projet2.png') }}" class="img-project"  alt="first project image">
                            <h3>RDM-Editions</h3>
                            <p>Projet client effectué au sein de la Wild Code School de Lyon<br>
                                <br>
                                RDM-éditions est un éditeur de livre basé à Lyon ayant une couverture régionale. Le cahier des charges comprenais la refonte global du site ainsi qu'un back-office pour la gestion du contenu.
                            </p>
                            <a href="https://github.com/christianJCK/WCS_Project2/tree/master" target="_blank" class="code">code source</a>
                        </div>
                        <div class="page-work-projects--block">
                            <img src="{{ asset('assets/img/projet3.png') }}" class="img-project"  alt="first project image">
                            <h3>Food & You</h3>
                            <p>Projet "from scratch" réalisé en stage au sein de la start-up Food&You<br>
                            <br>
                            La mission consistait à crée un site e-commerce avec un design moderne, une navigation fluide, un back-office pour la gestion du contenu
                                et bien d'autres outils qui en font aujourd'hui un site capable de répondre aux attentes des utilisateurs dans le cadre du cahier des charges clients.
                            </p>
                            <a href="#" target="_blank" class="code">code source</a>
                            <a href="http://foodandyou.fr/" target="_blank" class="web">site web</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pageContent page-contact" data-background-type="contact">
                <div class="container">
                    <h2>OUI JE VOUS ÉCOUTE !</h2>
                    <div class="page-contact-block">
                        <div class="page-contact-block--first">
                            <p>Envie d'en savoir plus? D'échanger? Ou tout simplement de savoir quel restau vaut le coup dans le coin ?
                            </p>
                        </div>
                        <div class="page-contact-block--second">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <input type="submit" class="submit-btn" value="Merci !">
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
